{% extends 'base.html' %}

{% block content %}

      <form method="POST">

        <div class="container">
          <h2 align="center">Signup</h2>
          <div class="work">
        <div>
          <label>First Name:</label>
          <input type="text" name="username" required>
        </div>
        <div>
          <label>Email:</label>
          <input type="email" name="email" required>
        </div>
        <div>
          <label>Password:</label>
          <input type="password" name="password" required>
        </div>
        <div class="submit">
          <input type="submit" value="Signup"> 
        </div>
      </form>
    </div>
  </div>

  
{% endblock %}


